<div class="card" style="width: 100%; margin-top: 20px">
    <div
      id="carouselExampleFade"
      class="carousel slide carousel-fade"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div
          class="carousel-item"
          *ngFor="let carImage of carImagePath; index as i; first as firstImage"
          [ngClass]="{ active: firstImage }"
        >
          <img
            src="https://localhost:44329/images/{{carImage.imagePath}}" 
            class="d-block w-100"
            alt="..."
            style="height: 400px; width: 700px; object-fit: cover"
          />
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleFade"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleFade"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    
    <div class="card-body">
      <h5 class="card-title"> {{carDetail.carName}}  ||  {{carDetail.brandName}}</h5> 
      <p class="card-text">{{carDetail.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Color   :</b> {{carDetail.colorName}}</li>
      <li class="list-group-item"><b>Daily Price   :</b>  {{carDetail.dailyPrice}} ₺</li>
    </ul>
  </div>